/.idea
/.vscode
/vendor
*.log
.env
/rd
/docs
/mysql
/public/*
!/public/index.php
!/public/.htaccess
!/public/nginx.htaccess
!/public/robots.txt
!/public/router.php
!/public/static
/runtime
msg.log
docker-compose.override.yml